# Repository owner
* @joaoscioli

# Testing examples
/src/main/java/ @joaoscioli
/src/test/java/ @joaoscioli

# Testing documentation and GitHub workflow
/docs/ @joaoscioli
/.github/ @joaoscioli
/pom.xml @joaoscioli
